extends layout

block content
  h3 The LaserCards Team
  p
    // picturs go heer
    | Hello! We're a team of students studying at Olin College of Engineering. For our fall 2014 semester, we are taking Products and Markets,
    | a class centered around going from zero to sucessful business in only a semester. 