extends layout
block head
style(type='text/css').
  table{
    border-style: none;
  }
block content
  h3
    | If you ever have any questions, feel free to email us at lasercards@outlook.com!
  h3 Design Guidelines
  ul
    li Make sure that text or other finer details are not touching the edge of the card design
    li Try to make your final design as close to the business card aspect ratio (3.5:2) as possible
    li Areas you want to be etched/marked can be any color except white or other very light colors
    li Areas you want to be cut all the way through should be outlined in red (hex value #FF0000) and 0.01pt thickness
    li Note: The final card can have holes, light un-etched areas, and dark etched areas. The laser cutter cannot add color to the card.
  h3 Accepted File Types
  ul
    li The live preview is only guaranteed to work with certain types of image files (JPG, GIF, PNG, and BMP).
    li
      | We also accept other files such as TIFs, PDFs, Microsoft Office files, and Adobe files such as InDesign and Photoshop.
    li(style='list-style-type:none') (In these cases, we will email you in order to determine how the final design will look on a business card)
  h3 Prices
  table
    tr
      td Birch:
      td $0.70 per card ($14 for 20)
    tr
      td Cherry/Walnut:
      td $0.85 per card ($17 for 20)
    tr
      td Cardstock:
      td $0.20 per card ($05 for 20)