extends layout

block content
  h1= title
  p 
    |Welcome to #{title}. We're a couple of entrepreneurial students who use laser cutters to make modern, professional cards. 
    |Click on a box below to check out our team, or buy some cards for yourself!

   //this section will h
  .indexBoxHolder
    #uploadBox.indexBox

    #templateBox.indexBox

    #contactBox.indexBox

    #aboutBox.indexBox
  