extends layout
block head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='description', content='')
  meta(name='author', content='')
  link(rel='icon', href='../../favicon.ico')
  title Carousel Template for Bootstrap
  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries 
  // if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  // Custom styles for this template 
  link(href='stylesheets/carousel.css', rel='stylesheet')

block content
    div.container
      #myCarousel.carousel.slide(data-ride='carousel')
        // Indicators 
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
          li(data-target='#myCarousel', data-slide-to='3')
        .carousel-inner(role='listbox')
          .item.active
            img(src='images/cherrycard.jpg', alt='First slide')
            .container
              .carousel-caption
                h1 Unexpected Materials
                p Stand out from the crowd.
          .item
            img(src='images/walnutcard.jpg', alt='Second slide')
            .container
              .carousel-caption
                h1 Top Quality
                p Don't compromise on your design.
          .item
            img(src='images/birchcard.jpg', alt='Third slide')
            .container
              .carousel-caption
                h1 Personal 1-on-1 Service
                p Your idea can be your card.
          .item
            img(src='images/cardstockcard.jpg', alt='Fourth slide')
            .container
              .carousel-caption
                h1 Get LaserCards Today!
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
          span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
          span.sr-only Next
