doctype html
html
  head
    script(type='text/javascript', src='/javascripts/jquery-1.11.1.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.2.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme-3.2.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/stylesheet.css')
    script(src='/javascripts/bootstrap-3.2.min.js')
    title= title
    block head
  body
    .container
      .navbar.navbar-default(role='navigation')
        .container
          .navbar-header
            a.navbar-brand(href='/') LaserCards
          .navbar-collapse.collapse
            ul.nav.navbar-nav
            //griffin -- combining Custom Upload and Template into one
            //card ordering page
              li
                a(href='/upload-design') Custom Upload
              li
                a(href='/template-design') Template
              li
                a(href='/about') About LaserCards
      block content