extends layout
block head
  script(type='text/javascript').
    $(document).ready(function(){
      $('.design-preview').click(function(){
        $('#material').val($(this).val());
      })
    })
  style(type='text/css').
    input {
      background:url('#{filepath}') no-repeat;
    }
    .design-preview{
      width: 400px;
      height: 229px;
      color: black;
    }
    #cherry-overlay{
      position: absolute;
      width: 400px;
      height: 229px;
      background: url('/images/BirdseyeCherryWood.jpg') no-repeat;
      left: 0px;
      top: 0px;
      opacity: 0.5;
    }
    #walnut-overlay{
      position: absolute;
      width: 400px;
      height: 229px;
      background: url('/images/Walnut.jpg') no-repeat;
      left: 0px;
      top: 0px;
      opacity: 0.8;
    }
    #cherry-div{
      height: 229px;
      width: 400px;
      position: relative;
      float: left;
    }
    #walnut-div{
      margin-left: 10px;
      height: 229px;
      width: 400px;
      position: relative;
      float: left;
    }
    
block content
  h3 Select Your Material: 
  form#material-form(action='/confirm', method='post')
    input#material(type='hidden', name='material', value='invalid')
    div#cherry-div
      canvas#cherry-overlay
      input.design-preview(type='submit', src='//:0', value='Cherry', alt='Cherry')
    div#walnut-div
      canvas#walnut-overlay
      input.design-preview(type='submit', src='//:0', value='Walnut', alt='Walnut')