extends layout
block head
  script(type='text/javascript').
    $(document).ready(function(){
      $('.design-preview').click(function(){
        $('#material').val($(this).val());
      })
    })
  style(type='text/css').
    input {
      background:url('#{filepath}') no-repeat;
    }
block content
  h3 Select Your Material: 
  form#material-form(action='/information', method='post')
    input#material(type='hidden', name='material', value='invalid')
    div
      input.design-preview(type='submit', src='//:0', value='Bamboo', alt='Bamboo')
    div
      input.design-preview(type='submit', src='//:0', value='Veneer', alt='Veneer')
    div
      input.design-preview(type='submit', src='//:0', value='Cardstock', alt='Cardstock')
    div
      input.design-preview(type='submit', src='//:0', value='Acrylic', alt='Acrylic')
    div
      input.design-preview(type='submit', src='//:0', value='Cherry', alt='Cherry')
    div
      input.design-preview(type='submit', src='//:0', value='Oak', alt='Oak')