extends layout
block head
  script(type='text/javascript').
    $(document).ready(function(){
      $('.design-preview').click(function(){
        $('#material').val($(this).val());
      })
        //This is an IE fix because pointer-events does not work in IE
        $(document).on('mousedown', 'canvas', function (e) {
            console.log('hi');
            $(this).hide();
            var BottomElement = document.elementFromPoint(e.clientX, e.clientY);
            console.log(BottomElement);
            $(this).show();
            $(BottomElement).trigger('click'); //Manually fire the event for desired underlying element
            return false;

        });
    })
    
  style(type='text/css').
    .design-preview{
      width: 400px;
      height: 229px;
      color: black;
      background:url('#{filepath}') no-repeat center center;
      -webkit-filter: grayscale(100%);  
      -webkit-filter: grayscale(1);  
      filter: grayscale(100%);  
      filter: url('../img/grey.svg#grayscale');  
      filter: gray;  
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }
    #cherry-overlay{
      position: absolute;
      width: 400px;
      height: 229px;
      background: url('/images/cherry.jpg') no-repeat;
      left: 0px;
      top: 0px;
      opacity: 0.5;
      z-index: 9;
      // pointer-events: none;
    }
    #walnut-overlay{
      position: absolute;
      width: 400px;
      height: 229px;
      background: url('/images/walnut.jpg') no-repeat;
      left: 0px;
      top: 0px;
      opacity: 0.5;
      z-index: 9;
      // pointer-events: none;
    }
    #cherry-div{
      height: 229px;
      width: 400px;
      position: relative;
      float: left;
    }
    #walnut-div{
      margin-left: 10px;
      height: 229px;
      width: 400px;
      position: relative;
      float: left;
    }
    
block content
  h3 Select Your Material: 
  form#material-form(action='/confirm', method='post')
    input#material(type='hidden', name='material', value='invalid')
    div#cherry-div
      canvas#cherry-overlay
      input.design-preview(type='submit', src='//:0', value='Cherry', alt='Cherry')
    div#walnut-div
      canvas#walnut-overlay
      input.design-preview(type='submit', src='//:0', value='Walnut', alt='Walnut')