extends layout

block head
  style(type='text/css').
    table{
      margin-top: 5px;
    }
    select{
      margin-left: 5px;
    }
block content
  | Name: #{name}
  br
  | Email: #{email}
  br
  | Material: #{material}
  form(action='https://www.paypal.com/cgi-bin/webscr', method='post', target='_top')
      input(type='hidden', name='cmd', value='_s-xclick')
      input(type='hidden', name='hosted_button_id', value='#{button}')
      table
        tr
          td
            input(type='hidden', name='on0', value='Quantity')
            | Quantity: 
          td
            select(name='os0')
              option(value='10 Cards') 10 Cards $0.01 USD
              option(value='20 Cards') 20 Cards $0.02 USD
              option(value='30 Cards') 30 Cards $0.03 USD
              option(value='40 Cards') 40 Cards $0.04 USD
      input(type='hidden', name='currency_code', value='USD')
      br
      input#buybutton(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
      img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')