extends layout
block head
  script(type='text/javascript').
    $(document).ready(function(){
      $('.design-preview').click(function(){
        $('#design').val($(this).val());
      });
      //This is an IE fix because pointer-events does not work in IE
      $(document).on('mousedown', 'canvas', function (e) {
          console.log('hi');
          $(this).hide();
          var BottomElement = document.elementFromPoint(e.clientX, e.clientY);
          console.log(BottomElement);
          $(this).show();
          $(BottomElement).trigger('click'); //Manually fire the event for desired underlying element
          return false;

      });
    })
    
  style(type='text/css').
    .design-preview{
      width: 400px;
      height: 229px;
      color: black;
      background:url('#{filepath}') no-repeat center center;
      -webkit-filter: grayscale(100%);  
      -webkit-filter: grayscale(1);  
      filter: grayscale(100%);  
      filter: url('../img/grey.svg#grayscale');  
      filter: gray;  
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }
    .overlay{
      position: absolute;
      width: 400px;
      height: 229px;
      left: 0px;
      top: 0px;
      z-index: 9;
      border: black 1px solid;
    }
    #overlay-one{
      background: url('/images/template1.jpg') 0px 0px/400px 229px no-repeat;
    }
    #overlay-two{
      background: url('/images/template2.jpg') 0px 0px/400px 229px no-repeat;
    }
    #overlay-three{
      background: url('/images/template3.jpg') 0px 0px/400px 229px no-repeat;
    }
    #overlay-four{
      background: url('/images/template4.jpg') 0px 0px/400px 229px no-repeat;
    }
    #overlay-five{
      background: url('/images/template5.jpg') 0px 0px/400px 229px no-repeat;
    }
    #overlay-six{
      background: url('/images/template6.jpg') 0px 0px/400px 229px no-repeat;
    }
    #overlay-seven{
      background: url('/images/template7.jpg') 0px 0px/400px 229px no-repeat;
    }
    .design-div{
      margin-right: 10px;
      margin-bottom: 10px;
      height: 229px;
      width: 400px;
      position: relative;
      float: left;
    }
    #main-content{
      width: 100%;
    }
    
block content
  h3 Select Your Design: 
  form#design-form(action='/fill-template', method='post')
    input#design(type='hidden', name='design', value='invalid')
    div.design-div
      canvas#overlay-one.overlay
      input.design-preview(type='submit', src='//:0', value='/images/template1.jpg', alt='Design 1')
    div.design-div
      canvas#overlay-two.overlay
      input.design-preview(type='submit', src='//:0', value='/images/template2.jpg', alt='Design 2')
    div.design-div
      canvas#overlay-three.overlay
      input.design-preview(type='submit', src='//:0', value='/images/template3.jpg', alt='Design 3')
    div.design-div
      canvas#overlay-four.overlay
      input.design-preview(type='submit', src='//:0', value='/images/template4.jpg', alt='Design 4')
    div.design-div
      canvas#overlay-five.overlay
      input.design-preview(type='submit', src='//:0', value='/images/template5.jpg', alt='Design 5')
    div.design-div
      canvas#overlay-six.overlay
      input.design-preview(type='submit', src='//:0', value='/images/template6.jpg', alt='Design 6')
    div.design-div
      canvas#overlay-seven.overlay
      input.design-preview(type='submit', src='//:0', value='/images/template7.jpg', alt='Design 7')