extends layout
block head
  script(type='text/javascript').
    $(document).ready(function(){
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function (e) {
            $("#preview-image").attr("src", e.target.result);
            $("#preview-image").show();
          }
          
          reader.readAsDataURL(input.files[0]);
        }
      }
      
      $("#image-upload").change(function(){
        readURL(this);
      });
    });
block content
  h3 Upload Your Image:
  form#upload-form(action='/upload', method='post', enctype='multipart/form-data')
    input#image-upload(type='file',name='image')
    #preview-div
      img#preview-image(src='')
      #preview-ie
    ul
      li
        a(href='/help#guidelines', target='_blank') Design Guidelines
      li
        a(href='/help#file-types', target='_blank') Accepted file types
    input#forward-button.btn.btn-lg.btn-primary(type='submit')