extends layout
block head
  style(type='text/css').
    label{
      margin-right: 5px;
    }
    #name-field{
      margin-bottom: 5px;
      margin-left: 2px;
    }
    #email-field{
      margin-bottom: 10px;
    }
  script(type='text/javascript').
    $(document).ready(function(){
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          
          reader.onload = function (e) {
            $("#preview-image").attr("src", e.target.result);
            $("#preview-image").show();
          }
          
          reader.readAsDataURL(input.files[0]);
        }
      }
      
      $("#image-upload").change(function(){
        readURL(this);
      });
    });
  // [if gte IE 8] <!
    <script type="text/javascript">.
      $(document).ready(function(){
        function readURL(imgFile){    
          var newPreview = document.getElementById("preview-ie");
          newPreview.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgFile.value;
          newPreview.style.width = "160px";
          newPreview.style.height = "120px";
        };
      });
    </script>
  // <![endif]
block content
  h3 Upload Your Image:
  form#upload-form(action='/material-select', method='post', enctype='multipart/form-data')
    | Full Name: 
    input#name-field(type='text', name='name', size='34' required)
    br
    | Email Address: 
    input#email-field(type='text', name='email', size='30' required)
    input#image-upload(type='file',name='image' required)
    #preview-div
      img#preview-image(src='')
      #preview-ie
    ul
      li
        a(href='/help#guidelines', target='_blank') Design Guidelines
      li
        a(href='/help#file-types', target='_blank') Accepted file types
    input#forward-button.btn.btn-lg.btn-primary(type='submit')