html { 
	background-color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}
#logo{
  background-color: #380087;
  height: 200px;
  color: white;
}
#preview-ie {
  FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)
}  
#preview-image {
  display:none;
  max-width: 700px; 
  max-height: 400px; 
  border: none;
}
#preview-div{
  max-width: 750px; 
  margin: 10px 0px;
}
label{
  margin-top: 5px;
}
#forward-button{
  margin-top: 5px;
}
#template-preview{
  margin-top: 15px;
  width: 350px;
  height: 200px;
}
#forward-button{
  margin-top: 10px;
}
.design-preview{
  width: 40%;
  height: 250px;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
  color: black;
}
.template-image{
  width:100%;
  height:100%;
}
/*indexBox for holding the boxes on index page*/
.indexBoxHolder{
  width:80%;
  height:60%;
  margin-left: auto;
  margin-right: auto;
}
.indexBox{
  width:10%;
  height:10%;
  margin-left: 30px;
  margin-right: 30px;
}