html { 
	background-color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Oswald', sans-serif;
}

#main-content{
  max-width: 870px;
}